---
import Layout from '../layouts/page.astro';
import Dhbaione from '../images/dhabione.png'
import gh from '../images/git.svg'

const projects = {
  client: [
  { name: "Tinylux Ecommerce", description: "E-commerce site build with Go lang backend and react(nextjs) front end with stripe checkout", link: "https://shop.tinylux.ae", tags: ["Go", "E-commerce","React","Next.js","Mongodb","Stripe"] },
  { name: "Babylux invoice", description: "A invoice generator for babylux using React", link: "https://babylux-invoice.vercel.app", tags: ["React", "Finance","Invoice","Pdf"] },
    { name: "Business Portfolio Template", description: "Astro simple business portfolio website", link: "https://dev.kythonlk.com", tags: ["Astro", "Portfolio"] },
    { name: "Dhabione", description: "E-commerce website build with wordpress for 10k daily users", link: "https://dhabione.com", tags: ["WordPress", "WooCommerce","Bootstrap"],image: Dhbaione},
  ],
  office: [
  { name: "LocalStorage Client", description: "TypeScript npm package for use localStorage easily", link: "https://github.com/Kythonlk/LocalStorageClient", tags: ["TypeScript", "NPM","State management"] },
    { name: "Guaranteed Lowest Price", description: "A wordpress plugin for guaranteed lowest price", link: "https://github.com/Kythonlk/guaranteed_lowest_price", tags: ["WordPress", "E-commerce"] },
    { name: "Warranty Option For Woocommerce", description: "WooCommerce plugin that can add warranty years", link: "https://github.com/Kythonlk/Warranty-Option-For-Woocommerce", tags: ["WordPress", "WooCommerce"] },
    { name: "Excel to SQL", description: "Simple Excel to SQL converter in React", link: "https://excel-sql.netlify.app/", tags: ["React", "Sql", "Excel"] },
  ],
  hobby: [
  { name: "Api Testing Client", description: "Api testing tool made with GO lang.(TUI)", link: "https://github.com/Kythonlk/Fastreq", tags: ["Go", "CLI","Tui"] },
    { name: "Task-Reminder", description: "A todo app with alarm for reminders", link: "https://kythonlk.github.io/Task-Reminder/", tags: ["JavaScript", "html", "Tailwindcss","localStorage "] },
  { name: "Finance Management", description: "Personal finance management app made with react and localStorage", link: "https://my-finance-manager.netlify.app/", tags: ["React", "Finance","LocalStorage"] },
  ],
};
---

<Layout>
  <section class="py-12 bg-gray-900/20 text-gray-900">
    <div class="container mx-auto px-4 md:px-6 lg:px-8">
      
      {Object.entries(projects).map(([category, projectList]) => (
        <div key={category} class="mb-12">
          <h3 class="text-2xl font-semibold text-black mb-6 capitalize">{category} Projects</h3>
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            {projectList.map((project, index) => (
            <div key={index} class="bg-gray-100/30 rounded-lg overflow-hidden shadow-lg hover:shadow-2xl transition-shadow duration-300 ease-in-out transform p-4">
                {project.image ? (
                  <img src={project.image.src} alt={project.name} class="w-full h-60 object-cover border-balck border" />
                ) : (
                  <img src={`https://picsum.photos/seed/${encodeURIComponent(project.name)}/400/200`} alt={project.name} class="w-full h-60 object-cover" />
                )}
                <div class="p-4 flex flex-col justify-between">
                  <h4 class="text-xl font-bold mb-2 text-gray-900">{project.name}</h4>
                  <p class="text-gray-600 mb-4">{project.description}</p>
                  <div class="flex flex-wrap mb-4">
                    {project.tags.map(tag => (
                      <span key={tag} class="bg-blue-100 text-blue-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded">{tag}</span>
                    ))}
                  </div>
                  <div class="flex justify-between items-center">
                    <a href={project.link} target="_blank" rel="noopener noreferrer" class="text-blue-700 hover:underline">View Project</a>
                    <a href={`https://github.com/Kythonlk`} target="_blank" rel="noopener noreferrer" class="text-gray-500 hover:text-gray-900">
                      <img src={gh.src} alt={project.name} class="text-blue-700 w-10" />
                    </a>
                  </div>
                </div>
              </div>
            ))}
          </div>
        </div>
      ))}
    </div>
  </section>
</Layout>
