---
const baseUrl = "https://simpleicons.org/icons";

const tools = [
  { name: 'Debian', icon: 'debian.svg', category: 'OS' },
  { name: 'NeoVim', icon: 'neovim.svg', category: 'Code Editor' },
  { name: 'Httpie', icon: 'httpie.svg', category: 'API Testing' },
  { name: 'Figma', icon: 'figma.svg', category: 'Designing' },
  { name: 'LibreOffice', icon: 'libreoffice.svg', category: 'Management' },
];

const programmingLanguages = [
  { name: 'JavaScript', icon: 'javascript.svg' },
  { name: 'Go', icon: 'go.svg' },
  { name: 'TypeScript', icon: 'typescript.svg' },
  { name: 'PHP', icon: 'php.svg' },
  { name: 'Bash', icon: 'gnubash.svg' },
  { name: 'C', icon: 'c.svg' },
];

const databases = [
  { name: 'Mysql', icon: 'mysql.svg' },
  { name: 'Postgres', icon: 'postgresql.svg' },
  { name: 'Firebase', icon: 'firebase.svg' },
  { name: 'SQLite', icon: 'sqlite.svg' },
];

const frameworks = [
  { name: 'Htmx', icon: 'htmx.svg' },
  { name: 'Wordpress', icon: 'wordpress.svg' },
  { name: 'Express.js', icon: 'express.svg' },
  { name: 'Next.js', icon: 'nextdotjs.svg' },
  { name: 'React Native', icon: 'react.svg' },
  { name: 'Laravel', icon: 'laravel.svg' },
  { name: 'Astro', icon: 'astro.svg' },
];

const stylingMarkup = [
  { name: 'html', icon: 'html.svg' },
  { name: 'css', icon: 'css.svg' },
  { name: 'tailwindcss', icon: 'tailwindcss.svg' },
  { name: 'less', icon: 'less.svg' },
  { name: 'Bootstrap', icon: 'bootstrap.svg' },
  { name: 'Shadcn', icon: 'shadcn.svg' },
  { name: 'Mdx', icon: 'mdx.svg' },
];

const devOps = [
  { name: 'Git', icon: 'git.svg' },
  { name: 'Docker', icon: 'docker.svg' },
  { name: 'GitHub', icon: 'github.svg' },
  { name: 'Nginx', icon: 'nginx.svg' },
  { name: 'Aws', icon: 'amazon.svg' },
];
---

<section class="py-12 px-2 md:px-20 bg-gray-900/30 text-white">
  <div class="container mx-auto px-4">
    <h2 class="text-white text-3xl font-bold text-center mb-8">Development Tools</h2>
  </div>
  <div class="flex-row md:flex">
<div class="container px-4 mt-4">
  <div class="w-full ">
    <div class="bg-white/50 shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow duration-300 ease-in-out">
      <h3 class="text-xl font-semibold mb-4 text-center">Programming Languages</h3>
      <div class="grid grid-cols-3 md:grid-cols-4 gap-2">
        {programmingLanguages.map((language) => (
          <div key={language.name} class="text-center">
            <img 
              src={`${baseUrl}/${language.icon}`} 
              alt={language.name} 
              class="mx-auto w-6 h-6"
            />
            <span class="block text-sm mt-2 text-gray-800">{language.name}</span>
          </div>
        ))}
      </div>
    </div>
  </div>
</div>
<div class="container mx-auto px-4 mt-4">
  <div class="w-full">
    <div class="bg-white/50 shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow duration-300 ease-in-out">
      <h3 class="text-xl font-semibold mb-4 text-center">Frameworks and CMS</h3>
      <div class="grid grid-cols-3 md:grid-cols-4 gap-2">
        {frameworks.map((language) => (
          <div key={language.name} class="text-center">
            <img 
              src={`${baseUrl}/${language.icon}`} 
              alt={language.name} 
              class="mx-auto w-6 h-6"
            />
            <span class="block text-sm mt-2 text-gray-800">{language.name}</span>
          </div>
        ))}
      </div>
    </div>
  </div>
</div>
<div class="container mx-auto px-4 mt-4">
  <div class="w-full">
    <div class="bg-white/50 shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow duration-300 ease-in-out">
      <h3 class="text-xl font-semibold mb-4 text-center">Databases and Data Providers</h3>
      <div class="grid grid-cols-3 md:grid-cols-4 gap-2">
        {databases.map((language) => (
          <div key={language.name} class="text-center">
            <img 
              src={`${baseUrl}/${language.icon}`} 
              alt={language.name} 
              class="mx-auto w-6 h-6"
            />
            <span class="block text-sm mt-2 text-gray-800">{language.name}</span>
          </div>
        ))}
      </div>
    </div>
  </div>
</div>
</div>
<div class="container mx-auto px-4 mt-4">
  <div class="w-full">
    <div class="bg-white/50 shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow duration-300 ease-in-out">
      <h3 class="text-xl font-semibold mb-4 text-center">Dev Ops and Virsion control</h3>
      <div class="grid grid-cols-3 md:grid-cols-5 gap-2">
        {devOps.map((language) => (
          <div key={language.name} class="text-center">
            <img 
              src={`${baseUrl}/${language.icon}`} 
              alt={language.name} 
              class="mx-auto w-6 h-6"
            />
            <span class="block text-sm mt-2 text-gray-800">{language.name}</span>
          </div>
        ))}
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6">
    {tools.map((tool) => (
      <div key={tool.name} class="p-6 flex flex-col items-center justify-center">
        <h2 class="text-white text-xl font-bold mb-4">{tool.category}</h2>
        <img
          src={`${baseUrl}/${tool.icon}`}
          alt={tool.name}
          class="w-12 h-12 mb-4"
        />
        <h3 class="text-base font-semibold">{tool.name}</h3>
      </div>
    ))}
  </div>
</div>
</section>
