---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
      body {
          background-image: url('https://kythonlk.com/bg.svg');
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: fixed;
      }
			main {
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<Header />
		<main class="text-gray-800">
			<article class="py-4 text-gray-900 rounded-xl">
				<div class="hero-image">
					{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
				</div>
        <div class="md:max-w-6xl md:mx-auto m-0 md:m-10 p-4 md:p-10 bg-gray-900/20 rounded-xl gap-4">
          <div class="title">
            <p class="text-xl text-gray-100 mb-8 md:mb-12 text-center"><FormattedDate date={pubDate} /></p>
            <h1 class="md:text-6xl text-2xl font-bold text-gray-900 text-center mb-8">{title}</h1>
						<hr class="mb-4"/>
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>

